a{
    color: #1a0dab;
    text-decoration: none;
}

div {
    display: block;
}

#body{
    background-color: white;
    font-family: arial,sans-serif;
}

#header{
    top: 16px;
    position: relative;
    font-size: 13px;
}

#left-side{
    position: absolute;
    margin: 4px 0 0 10px;
}

#left-side a{
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}

#right-side{
    display: flex;
    padding-right: 30px;
    align-items: center;
    justify-content: flex-end;
}

#right-side a{
    padding-left: 15px;
    color: rgba(0,0,0,0.87);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons{
    padding-left: 20px;
    padding-right: 20px;    
}

#sign-in {
    display: block;
    position: relative;
    border-radius: 2px; 
    background: #4285f4;
    padding-top: 7px;
    padding-bottom: 7px;
}

#sign-in a{
    color: #fff;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

#img-div{   
    text-align: -webkit-center;
    height: 233px;
    margin-top: 89px;
}

#image{
    padding-top: 109px;
    height: 92px;
}